@import '../../../public/styles/variables.scss';

.board {
    display: inline-block;
    background-color: #fff;
    margin: 3rem 0 0 3rem;
    width: 25rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: $tiny-shadow;
    cursor: pointer;
    transition: all .3s;

    &:last-child {
      margin-bottom: 3rem;
    }

    &__title {
        word-wrap: break-word;
        padding: 3rem 1rem;
        color: $color-dark-blue;
        font-weight: 700;
    }

    &:hover {
        background-color: $color-light-blue;
    }
}