@import '../../../public/styles/variables.scss';

.board {
    display: inline-block;
    background-color: #fff;
    margin: 5.5%;
    width: 95%;
    text-align: center;
    box-shadow: $tiny-shadow;
    cursor: pointer;
    transition: all .3s;

    &:last-child {
      margin-bottom: 3rem;
    }

    &__title {
        word-wrap: break-word;
        padding: 3rem 1rem;
        color: $color-dark-blue;
        font-weight: 700;
    }

    &__delete {
        position: absolute;
        fill: $color-light-red;

        &:hover {
            fill: $color-lightest-red;
        }
    }

    &:hover {
        background-color: $color-light-blue;
    }

    @media only screen and (min-width: 120em) {
        font-size: 2rem;
    }
}

