@import '../../../public/styles/variables.scss';

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #4885F1;
    top: 11rem;
    left: 6rem;
    width: 20rem;
    height: 15rem;
    border-radius: 5px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
    z-index: 1;

    @media only screen and (min-width: 120em) {
        font-size: 2rem;
    }

    &__text {
        font-size: 2rem;
        padding: .5rem;
        margin-top: 2rem;
        color: #fff;
    }

    &__close {
        position: absolute;
        left: 0;
        fill: $color-light-red;
        padding: .5rem 0 0 .5rem;
        cursor: pointer;

        &:hover {
            fill: $color-lightest-red;
        }
    }

    &__add {
       fill: #fff;
       margin-top: 1.3rem;
       height: 2rem;
       width: auto;
       cursor: pointer;

       &:hover {
           fill: $color-light-blue;
       }
    }

    &__input {
        height: 2.5rem;
        margin-top: 1rem;
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        border: none;
        padding: 0 .5rem;
        color: $color-dark-blue;

        &:focus {
            outline: 0;
        }
    }
}
