@import '../../../public/styles/variables.scss';
@import '../../../public/styles/main.scss';

.inner {
    &__boards {
        display: grid;
        grid-template-columns: minmax(7.5rem, 9vw) 1fr;
        width: 100%;
        height: 100%;
    }

    &__sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        &-btn {
            cursor: pointer;
            height: 10%;
            width: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
            padding: .5rem;
            font-size: 1.7rem;
            border-radius: 3px;
            background-color: $color-primary;
            color: #fff;
            border: none;
            transition: all .3s;

            @media only screen and (min-width: 120em) {
                font-size: 2.5rem;
            }

            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: #03B6EF;
            }
        }
    }

    &__list {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        position: relative;

        overflow-y: scroll;
        background-color: $color-secondary;
    }
}

// createBoardOrList animations
.expand-enter {
    transform: scale(0);
}

.expand-enter-active {
    transform: scale(1);
    transition: all 150ms ease-in;
}

.expand-exit {
    transform: scale(1);
}

.expand-exit-active {
    transform: scale(0);
    transition: all 150ms ease-in;
}

// board/list cards animations
.card-animate-appear {
    transform: scale(0);
}

.card-animate-appear-active {
    transform: scale(1);
    transition: all 225ms ease-in;
}

.card-animate-enter {
    transform: scale(0);
}
  
.card-animate-enter-active {
    transform: scale(1);
    transition: all 225ms ease-in;
}

.card-animate-exit {
    display: none;
}

.card-animate-exit-active {
    display: none;
}
