$color-primary: #4C8DFF;
$color-secondary: #D9ECFF;

$color-dark-grey: #4B4B4B;
$color-medium-grey: #D4D4D4;
$color-light-grey: #E4E4E4;

$color-dark-blue: #3D5A82;

$color-gradient-left: #C9D6FF;
$color-gradient-right: #F2F2F2;