// COLORS
$color-primary: #4885F1;
$color-secondary: #E7EFF5;

$color-dark-grey: #4B4B4B;
$color-medium-grey: #D4D4D4;
$color-light-grey: #E4E4E4;

$color-dark-blue: #3D5A82;

$color-gradient-left: #C9D6FF;
$color-gradient-right: #F2F2F2;

// SHADOWS
$tiny-shadow: .1px .1px 1px rgba(0,0,0,0.3);
$subtle-shadow: 3px 3px 15px rgba(0,0,0,0.3);
$large-shadow: 15px 15px 30px rgba(0,0,0,0.3);