@import '../../../public/styles/variables.scss';
@import '../../../public/styles/main.scss';

.inner {

    &__title {
        margin: -10rem 0 4rem 0;
        color: #fff;
        font-size: 3.5rem;
        letter-spacing: .1rem;
        word-spacing: .2rem;
        font-weight: 700;

        @media only screen and (min-width: 120em) {
            font-size: 4.5rem;
        }
    }

    &__input {
        margin-bottom: 4rem;
        border-radius: 13px;
        border: 1px solid $color-medium-grey;
        width: 15rem;
        height: 3rem;
        font-size: 2rem;
        text-align: center;;
        padding: .5rem 1rem;
        color: $color-dark-blue;
        transition: width .3s;

        &:focus {
            outline: 0;
            width: 25rem;
        }

        @media only screen and (min-width: 120em) {
            width: 18rem;
            font-size: 3rem;

            &:focus {
                outline: 0;
                width: 28rem;
            }
        }
    }

    &__btn {
        width: 10rem;
        height: 3rem;
        border-radius: 13px;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;
        color: $color-primary;
        border: none;
        
        &:focus { outline: 0; }

        &--exist {
            margin-right: 1.5rem;
            background-color: #FFF;
        }

        &--new {
            background-color: #FFF;
        }

        &--exist:hover,
        &--new:hover {
            background-color: $color-secondary;
        }

        @media only screen and (min-width: 120em) {
            font-size: 2rem;
            width: 15rem;
            height: 4.5rem;
            padding: .5rem;
        }
    }

    &__name {
        position: absolute;
        top: 90%;
        left: 3%;
        font-size: 3rem;
        font-weight: 700;
        color: rgba(0, 0, 0, .2);

        @media only screen and (min-width: 120em) {
            font-size: 4rem;
        }
    }

    @media screen and (max-height: 30em) {
        &__name { top: 85% }
        &__title { margin: -3rem 0 4rem 0; }
    }

    @media screen and (max-height: 23.75em) {
        &__title {
            font-size: 2.5rem;
            margin: -2rem 0 2rem 0;
        }

        &__input { margin-bottom: 2.5rem; }
    }

    @media screen and (max-width: 23.25em) {
        &__title {
            font-size: 2rem;
            margin: -2rem 0 2rem 0;
        }
    }
}

.groupname-error {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
